body {
  background: rgb(31, 31, 32);
  background: linear-gradient(
    90deg,
    rgba(31, 31, 32, 1) 0%,
    rgba(56, 0, 54, 1) 51%,
    rgba(31, 31, 32, 1) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  background-color: black;
  width: 1000px;
  height: 100vh;
}

.title {
  font-family: "Secular One", sans-serif;
  position: fixed;
  width: 1000px;
  top: 250px;
  color: yellow;
  text-shadow: 4px 5px 10px rgba(255, 242, 1, 1);
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 1;
}

.title p {
  margin-left: auto;
}
.title-1 {
  font-size: 40px;
  font-weight: bold;
  margin-right: 52px;
}
.title-2 {
  font-size: 30px;
  margin-right: 110px;
}
.title-3 {
  font-size: 40px;
  font-weight: bold;
  margin-right: 30px;
}
.img-moon {
  position: fixed;
  top: -1px;
  z-index: 1;
  width: 600px;
  margin-left: 200px;
}
.img-moon:hover {
  scale: 1.05;
  filter: drop-shadow(7px 34px 36px rgba(153, 29, 126, 0.67));
}

.img-background {
  position: fixed;
  bottom: -50px;
  width: 900px;
}

.click-btn {
  font-family: "Secular One", sans-serif;
  display: none;
  z-index: 10;
  font-size: 30px;
  text-shadow: 4px 5px 10px rgb(255, 255, 255);
}
