.main {
  width: 1000px;
  height: 100vh;
  color: rgb(240, 240, 240);
  height: auto;
  margin-bottom: 30px;
  background-color: rgba(1,1, 1, 0);
  display: flex;
  flex-direction: column;
}

.top__logout{
  display: flex;
  margin-left: auto;
  gap: 10px;
  align-items: center;
}

.top__logout img{
 width: 30px;
 border-radius: 50%;
}

.top__logoutBtn{
  margin-bottom:17px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}